  <!--==========================
    Footer
  ============================-->
  <footer id="footer"> 

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Okechukwu David</strong>. All Rights Reserved
      </div>
      
      <div class="col-12 mx-auto">
        <div class="social-links   col-lg-3 col-sm-12 mx-auto my-2">
          <a href="https://github.com/Chucks-Dave/" class="twitter ms-3"><i class="fa fa-github"></i></a>
          <a href="https://facebook.com/okechukwu.david.99/" class="facebook ms-3"><i
              class="fa fa-facebook"></i></a>
          <a href="https://instagram.com/ok_e_chukwu/" class="instagram ms-3"><i class="fa fa-instagram"></i></a>
          <a href="#" class="google-plus ms-3"><i class="fa fa-code"></i></a>
          <a href="https://linkedln.com/in/okechukwu-david-6a8a82256/" class="linkedin ms-3"><i
              class="fa fa-linkedin"></i></a>

        </div>
      </div>
    </div>
  </footer><!-- #footer -->
